<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hello <%= @post.user.name.capitalize %>,</h2>
      <p>
        You're now following "<%= @post.title %>", you will be notified of all comments. If you don't want to receive further notifications, unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %>.
      </p>
    <h4>Your new post "<%= @post.title %>"</h4>
    <small>
      submitted <%= time_ago_in_words(@post.created_at) %> ago
    </small>
    <p>
      <%= @post.body %>
    </p>
    <p>
      <%= link_to "Click here to view your post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
