<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media_left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% if has_post_or_comment?(@user) %>
    <h2>Posts</h2>
    <%= render @user.posts %>

    <h2>Comments</h2>
    <%= render @user.comments %>
  <% else %>
    <br>
    <p><%= @user.name %> has not submitted any posts or comments yet.</p>
  <% end %>
</div>

<div class="row">
  <% if has_favorites?(@user) %>
    <h2>Favorites</h2>
      <% array = array_of_favorited_posts(@user) %>
      <% array.each do |post| %>
        <%= render partial: 'favorites/list', locals: { user: @user, post: post } %>
      <% end %>
  <% else %>
    <br>
    <p><%= @user.name %> has not favorited any posts yet.</p>
  <% end %>
</div>
