<div class="page-header text-center">
  <h1>Create New Advertisement <small>Advertise your ad here!</small></h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <%= form_for @advertisement do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control", placeholder: "Enter your advertisement title."%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :copy, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= f.text_area :copy, class: "form-control", placeholder: "Enter your advertisement copy."%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :price, class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
          <%= f.number_field :price, min: 10, max: 100, class: "form-control", placeholder: "Enter your advertisement price."%>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Save", class: "btn btn-info" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
